@import "react-alice-carousel/lib/alice-carousel.css";

body {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
}

/* light and dark mode */

#dark {
  background-color: black;
  color: white;
}
#light{
  background-color: white;
}

.pencil{
  margin-right: 600px;
}
.Switch{
  width: auto;
  height: auto;
  display: flex;
  top: 15px;
  right: 110px;
  justify-content: right;
  align-items: center;
  z-index: 1100;
  position: relative;
  background-color: transparent;
}
.slide1 {
  background: url(/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 100vh;
}
.slide2 {
  background: url(/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 100vh;
}
.slide3 {
  background: url(/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 100vh;
}

.main-pic {
  width: 100%;
  height: 100vh;
  /* background: url(../../public/1.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  position: absolute;
  top: 0;
  z-index: 1;
}

header>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 70px;
  padding: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main>li {
  list-style: none;
  padding: 8px;
  margin-left: 20px;
}

li>a {
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.call {
  background-color: red;
  color: white;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  margin-left: 150px;
  font-size: 12px;
}

.call .fa-solid {
  font-size: 10px;
  padding-right: 5px;
}

/* hero section */
.imgText {
  text-align: center;
  color: white;
  margin-top: 100px;
}

.imgText h5 {
  margin-top: -13px;
  margin-bottom: 10;
  margin-right: 20px;
  color: orange;
  text-transform: uppercase;
  font-style: italic;
  font-size: 10px;
}

.imgText>p {
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -10px;
}

.imgText h1 {
  margin: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 50px;
  font-family: Arial;
}

button {
  padding: 10px;
  width: 200px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 5px;
}

button .fa-solid {
  padding-left: 8px;
}

/* white top */
#shapeTop {
  margin-top: 60px;
  width: 100%;
  z-index: -1;
  height: auto;
  object-fit: cover;
}
/* mouse  */
#mouse {
  margin-top: 50px;
  padding: 30px;
  font-size: 30px;
  color: orange;
  animation: mouse 2s ease-in infinite;
  position: relative;
}

@keyframes mouse {
  0% {
      transform: rotate(5deg);
  }

  15% {
      transform: perspective(15deg);
  }

  30% {
      transform: rotate(25deg);
  }

  45% {
      transform: rotate(-15deg);
  }

  60% {
      transform: rotate(15deg);
  }

  75% {
      transform: rotate(-10deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

/* toggle */
.toggle {
  background-color: transparent;
}

.toggle>#toggle {
  font-size: 25px;
}
/* countdown */


.countdown-container {
  text-align: center;
  color: #3b2b20;
  margin-top: 50px;
}

.countdown-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.time-section {
  margin: 0 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.time-section .time {
  margin-top: 5px;
}

.time-section p {
  font-size: 10px;
  font-weight: 600;
  margin-top: -10px;
}

.time {
  display: block;
}


.colon {
  font-weight: 400;
  margin-bottom: 0;
}

span {
  margin-bottom: -10px;
}

.logoBottom {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

/* important things to note */

.detail-item {
  flex-basis: 35%;
  color: #f6f4ee;
  margin: 10px;
  text-align: left;
}

.detail-item h3 {
  font-size: 15px;
  font-weight: 600;
  color: #3b2b20;
  margin-bottom: 10px;
}

.detail-item p {
  font-size: 15px;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
}



.important {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100vw;
  height: 50vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  background-color: #f9f4ef;
  padding-top: 150px;
  margin-top: -10px;
}

.detail ul {
  list-style: none;
  line-height: 2;
  font-size: 12px;
  color: #555;
  font-weight: 400;
  display: block;
}

.detail ul li:first-child {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.fa {
  font-size: 30px;
  color: red;
}

.important h2 {
  margin-left: 100px;
}

.map {
  width: 100%;
  margin-bottom: -40px;
}

.bottomGrey {
  margin-bottom: -15px;
}

/* Contact section */

.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #f9f4ef;
}

.contact-info {
  flex: 1;
  padding-right: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-info h2 {
  font-size: 30px;
}

.contact-info p {
  font-size: 15px;
  color: #333;
}

.contact-form {
  flex: 1;
  padding-left: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 50%;
  outline: none;
}

.fas {
  color: #555;
}

.inputicon {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px 10px;
}

.inputicon i {
  margin-right: 10px;
  font-size: 18px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #333;
  width: 100%;
  background-color: #f9f4ef;
  resize: none;
  outline: none;
}

.form-group {
  display: flex;
}

.contact-form button {
  width: 120px;
  text-align: center;
  margin-top: 30px;
}

textarea {
  margin-bottom: -10px;
}

footer .footerSocial h3 {
  margin-bottom: 20px;
}

footer {
  background-color: #241b15;
  color: white;
  padding: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socialIcons a {
  text-decoration: none;
}

.icon-container {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  align-items: center;
  justify-content: center;
}

.fa-brands {
  color: white;
  padding: 10px;
}

footer p {
  margin-top: 20px;
  font-size: 10px;
  color: #f9f4ef;
}

.underline {
  width: 100%;
  color: black;
}
.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  color: white;
  background-color: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  animation: bounce 2s ease-in infinite;
  transition: background-color 0.15s;
}

.arrow:hover {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}

@keyframes bounce {
  0% {
      transform: translateY(0px);
  }

  50% {
      transform: translateY(-20px);
      background-color: red;
  }

  100% {
      transform: translateY(0px);
      background-color: transparent;
  }
}

/* media query */

@media only screen and (max-width: 768px) {

  /* header section */
  header>div>nav {
      display: none;
  }

  header>div>a {
      display: none;
  }
  .menuList {
      display: none; /*Hide the menu by default */
  }
  
  .menuList.active {
      display: block; /*Show the menu when active*/
  }
  .logo-img{
      top: 20px;
      position: relative;
  }
  #bar {
      display: flex;
      /* position: fixed; */
      top: 10px;
      right: 10px;
      font-size: 25px;
      color: red;
      opacity: 0.7;
      cursor: pointer;
      margin-top: 20px;
  }

  .toggleswitch {
      position: relative;
      top: 20px;
  }

  .imgText {
      padding-top: 90px;
  }

  .imgText h5 {
      display: none;
  }
  header{
      background-color: transparent;
  }
  .imgText h1 {
      font-size: 20px;
      text-align: center;
      justify-content: center;
  }

  .imgText p {
      font-size: 5px;
      font-weight: 400;
  }

  .imgText button {
      padding: 10px;
      width: 40%;
      font-size: 10px;
  }

  a.call {
      display: none;
  }

  .arrowLeft {
      display: none !important;
  }

  .arrowRight {
      display: none !important;
  }

  #shapeTop {
      display: none;
  }

  .countdown-timer {
      font-size: 25px;
  }

  .important {
      padding-top: 10px;
      display: inline-block;
      padding-bottom: 10px;
  }

  .detail {
      background-color: #f6f4ee;
      padding: 20px;
  }
  .important h2 {
      margin-left: 55px;
      font-size: 15px;
  }

  .contact-section {
      padding-top: 0;
  }

  .contact-section {
      display: block;
  }

  .contact-info p {
      font-size: 14px;
  }

  .contact-section .contact-form {
      flex-direction: column;
  }

  .contact-form {
      flex: none;
  }

  .form-group {
      flex-direction: column;
      margin-bottom: 2px !important;
  }

  .contact-info h2 {
      padding-top: 20px;
      font-size: 15px;

  }

  .countdown-container {
      padding-bottom: 20px;
      margin-top: 10px;
  }

  .map {
      padding-bottom: 10px;
      margin-top: 30px;
  }

  .contact-section {
      padding: 10px;
  }

  .contact-section .contact-form {
      margin-left: -25px;
  }

  .contact-form .form-group {
      margin-bottom: 50px;
  }

  .logoBottom {
      display: none;
  }

  .contact-section {
      padding-left: 30px;
  }

  .contact-form .form-group,
  .contact-form {
      width: 100%;
  }

  .bottomGrey {
      display: none;
  }

  .footerSocial h3 {
      font-size: 15px;
  }

  footer p {
      font-size: 8px;
  }
  .fa-brands {
      font-size: 10px;
  }

  .contact-form input {
      width: 100%;
  }

  .inputicon i {
      font-size: 15px;
  }

  .inputicon input {
      margin: 0;
  }

  form button {
      padding: 8px;
  }

  .menuList {
      position: fixed;
      top: 0;
      left: 0;
      width: 250px; /* Set desired width */
      height: 100%;
      background-color: white; /* Background color */
      transition: transform 0.3s ease; /* Smooth transition */
      transform: translateX(-100%); /* Start off-screen */
  }
  
  .menuList.active {
      transform: translateX(0); /* Move into view */
  }
}